PORT=3001
NODE_ENV=development

MONGODB_URI=mongodb+srv://alexispferrada_db_user:TjSptX9141EEAdNU@cluster0.h3ej4ms.mongodb.net/lacomadrelola?retryWrites=true&w=majority&appName=Cluster0

# En Mac/Linux dejar vacio (usa la raiz del repo automaticamente)
# En Windows con Google Drive: STATIC_DIR=C:/dev/lola-backend/public
STATIC_DIR=

FRONTEND_URL=http://localhost:3001

ADMIN_USER=admin
ADMIN_PASS=lola2026

JWT_SECRET=lacomadrelola_secret_cambiar_en_produccion

# Email — opcional para desarrollo, requerido en produccion
EMAIL_USER=
EMAIL_PASS=
ADMIN_EMAIL=
